<div class="container">
  <h2>Potwierdź zmianę hasła</h2>
  <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
    <div class="form-group">
      <label for="password">Podaj nowe hasło</label>
      <input
        type="password"
        name="password"
        class="form-control form-control-lg"
        [ngClass]="{'is-invalid': password.invalid && password.touched}"
        id="password"
        ngModel
        required
        maxlength="150"
        #password="ngModel" />
      <div
        class="invalid-feedback"
        *ngIf="password.invalid && password.touched">Hasło nie spełnia wymagań.</div>
    </div>
    <div class="form-group">
      <label for="confirm-password">Podaj adres email:</label>
      <input
        type="password"
        name="confirm-password"
        class="form-control form-control-lg"
        [ngClass]="{'is-invalid': confirmPassword.invalid && confirmPassword.touched}"
        id="confirm-password"
        ngModel
        required
        maxlength="150"
        #confirmPassword="ngModel" />
      <div
        class="invalid-feedback"
        *ngIf="confirmPassword.invalid && confirmPassword.touched">Podane hasła nie są takie same.</div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        name="submit"
        class="btn btn-primary"
        [disabled]="resetForm.invalid">
        Potwierdź
      </button>
    </div>
  </form>
</div>
