@import '~bootstrap/scss/bootstrap-grid';

label {
  font-weight: 700;
  text-align: right;
}
#honeyBunny {
  display: none;
}
@include media-breakpoint-down(sm) {
  label {
    text-align: left;
  }
}
